{% extends "layouts/base.html" %}

{% block content %}
<h2>Danh sách thuốc</h2>
<a class="btn btn-success mb-3" href="{{ url_for('add_appointment_medicine', id=bill_id) }}">+ Thêm thuốc</a>

<form method="GET" action="{{ url_for('appointments') }}" class="mb-3 row g-2">
    <div class="col-auto">
        <select name="filter_by" class="form-select" id="filter_by" onchange="toggleKeywordInput()">
            <option value="patient" {% if request.args.get(
            'filter_by') == 'patient' %}selected{% endif %}>Bệnh nhân</option>
            <option value="doctor" {% if request.args.get(
            'filter_by') == 'doctor' %}selected{% endif %}>Bác sĩ</option>
            <option value="date" {% if request.args.get(
            'filter_by') == 'date' %}selected{% endif %}>Thời gian</option>
        </select>
    </div>
    <div class="col-auto">
        <input type="text" name="keyword" id="keyword_input" class="form-control" placeholder="Nhập từ khóa"
               value="{{ request.args.get('keyword','') }}">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        <a href="{{ url_for('appointments') }}" class="btn btn-secondary">Xóa</a>
    </div>
</form>


<table class="table table-striped table-bordered">
    <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>Tên thuốc</th>
        <th>Số lượng</th>
        <th>Số tiền</th>
        <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    {% for m in bill_medicines %}
    <tr>
        <td>{{ m.id }}</td>
        <td>{{ m.medicine.name }}</td>
        <td>{{ m.quantity }}</td>
        <td>{{ m.price }}</td>
        <td>
            <a class="btn btn-primary btn-sm" href="/appointment/{{ bill_id }}/medicine/edit/{{ m.id }}">Sửa</a>
        </td>
    </tr>
    {% endfor %}
</tbody>

</table>

<script>
    function toggleKeywordInput() {
        const filter = document.getElementById('filter_by').value;
        const input = document.getElementById('keyword_input');
        if(filter === 'date') {
            input.type = 'date';  // calendar picker
        } else {
            input.type = 'text';
        }
    }

    // Khởi tạo khi load trang
    window.onload = toggleKeywordInput;
</script>
{% endblock %}
