{% extends "layouts/base.html" %}
{% block content %}
<h2>Sửa lịch hẹn</h2>
<form method="POST">
    <select name="patient_id" required>
        {% for p in patients %}
        <option value="{{ p.id }}" {% if p.id == appointment.patient_id %}selected{% endif %}>{{ p.name }}</option>
        {% endfor %}
    </select><br>
    <select name="doctor_id" required>
        {% for d in doctors %}
        <option value="{{ d.id }}" {% if d.id == appointment.doctor_id %}selected{% endif %}>{{ d.name }}</option>
        {% endfor %}
    </select><br>
    <input type="datetime-local" name="appointment_date" value="{{ appointment.appointment_date }}" required><br>
    <textarea name="description">{{ appointment.description }}</textarea><br>
    <button type="submit" class="btn btn-success mt-2">Cập nhật</button>
</form>
{% endblock %}
