{% extends "layouts/base.html" %}

{% block content %}
<h2>{{ 'Sửa bệnh nhân' if patient else 'Thêm bệnh nhân' }}</h2>

<form method="POST" class="row g-3">
    <div class="col-md-6">
        <label class="form-label">Họ tên:</label>
        <input class="form-control" type="text" name="name" value="{{ patient.name if patient }}" required>
    </div>
    <div class="col-md-3">
        <label class="form-label">Tuổi:</label>
        <input class="form-control" type="number" name="age" value="{{ patient.age if patient }}" required>
    </div>
    <div class="col-md-3">
        <label class="form-label">SĐT:</label>
        <input class="form-control" type="text" name="phone" value="{{ patient.phone if patient }}" required>
    </div>
    <div class="col-12">
        <label class="form-label">Địa chỉ:</label>
        <input class="form-control" type="text" name="address" value="{{ patient.address if patient }}" required>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Lưu</button>
    </div>
</form>
{% endblock %}
